{% extends 'base.html' %}
{% block title %} Post {{ post["id"] }} {% endblock %}
{% block css %}

    <link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

{% endblock %}

{% block content %}
{% include 'header.html' %}

<h1> Post № {{ post["id"] }} - {{ post["title"] }} </h1>
<p> {{ post.get("content") }}</p>
<a href="{{ url_for("posts.get_posts") }}"> Return to posts</a>
{% include 'footer.html' %}
{% endblock %}