{% extends 'base.html' %}

{% block title  %}Account{% endblock %}

{% block content %}

    {% include 'header.html' %}
    <div class="container row justify-content-center">
        <div class="col-3">
            <img width="200px" src=" {{ url_for('static', filename='images/' + image) }} " >
        </div>
        <!-- <h2> Id: {{ id }}</h2> -->
        <div class="col-4" >
            <h2> Username: {{ username }} </h2>
            <a> Email: {{ email }} </a><br>
            <a> Last seen: {{ last_seen }}</a><br>
            <a> {{ about_me | replace("\n", "<br>" | safe) }}</a>
        </div>
        <!-- <h2> Password (or hash of password): {{ password }}</h2> -->
        <div class="col-2">
            <br><button type="button" class="btn btn-outline-warning"><a href="{{ url_for('users.edit_account') }}">Редагувати акаунт</a></button>
            <br><button type="button" class="btn btn-outline-info"><a href="{{ url_for('users.get_all_accounts') }}">Всі акаунти</a></button>
            <br><button type="button" class="btn btn-outline-danger"><a href="{{ url_for('users.logout') }}">Вийти</a></button>
        </div>
    </div>



    {% include 'footer.html' %}
{% endblock %}