{% extends 'base.html' %}

{% block title  %}Greeting Page {% endblock %}

{% block content %}

    {% include 'header.html' %}

    <form action="" method="post">
        Увійти в користувача
        <br><label>
            <a>Логін:</a>
            <input type="text" name="username">
        </label>
        <br><label>
            <a>Пароль:</a>
            <input type="text" name="password">
        </label>

        <input type="submit" value="Зайти">
    </form>


    {% include 'footer.html' %}
{% endblock %}

