{% extends 'base.html' %}
{% block title %} HOME {% endblock %}

{% block content %}

    <nav class="navbar sidebar s_resume">
        <a class="nav-link" href="#about-self">About myself</a><br>
        <a class="nav-link" href="#education">Education</a><br>
        <a class="nav-link" href="#skills">Skills</a><br>
        <a class="nav-link" href="#work-exp">Work experience</a>
    </nav>

	<section id="about-self">
    <h1> About myself</h1>
    <a>
        My name is Yevhenii Berezin, and i am a student <br>
        I am studying at Precarpatian national university <br>
        I have a lot of different activities that I can spend my time on, like:
        <ul>
            <li>Listening to music</li>
            <li>Playing games</li>
            <li>Walking around the city</li>
            <li>Watching media-content</li>
            <li>Arguing on Internet</li>
        </ul>
        I actively try to improve my knowledge in various fields,
        as I like "finally getting to understand" something <br>
        This page is one more example of previous words!
    </a>
    </section>

    <section id="education">
    <h1> Education</h1>
    <a>
        I studied in Lyceum №5 for 11 years <br>
        Here I`ve learned a lot of useful things:
        <ul>
            <li>German language</li>
            <li>English language</li>
            <li>Polish language</li>
            <li>Ukrainian language</li>
            <li>How to work with PC</li>
            <li>Programming (on the base level)</li>
        </ul>
        Also in the span of 11 years I`ve achieved a lot in terms of winning Olympiads in subjects:
        <ul>
            <li>Mathematics</li>
            <li>Informatics</li>
            <li>Information Technologies</li>
            <li>Physics</li>
            <li>Chemistry</li>
            <li>Ukrainian language</li>
            <li>Jurisprudence</li>
            <li>Biology</li>
            <li>Physical Education (Rifle shooting)</li>
        </ul>
        Currently I am studying at 3rd year of Precarpatian national university <br>
        Here I am studying "Software Engineering"<br>
        <img src="{{ url_for('static', filename='images/pnu.png') }}">
    </a>
    </section>

    <section id="skills">
    <h1> Skills</h1>
    <a>
        I have next list of skills:
        <ul>
            <li>
                Programming on different languages:
                <ul>
                    <li>C++</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>Rust</li>
                </ul>
            </li>
            <li>Creating front-end of web-application (using HTML, CSS, JS)</li>
            <li>Creating back-end of web-application (using Java(Spring) or Python(Flask))</li>
            <li>Creating mock-ups (using Photopea, Figma)</li>
        </ul>
    </a>
    </section>

    <section id="work-exp">
    <h1> Work experience (Projects)</h1>
    <a>
        I have no real work experience, but am currently working on
        Spring project (web-notebook) and Flask project.
        <br><br>
    </a>
    </section>

{% endblock %}

