{% extends 'base.html' %}
{% block title %} HOME {% endblock %}

{% block content %}
    <nav class="navbar sidebar">

    </nav>

	<section id="about-self">
    <h1> About myself</h1>
    <a>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis, enim vitae consequat viverra, felis erat lobortis arcu, id porttitor tortor ante a orci. Etiam mollis non diam et consequat. Nunc sed sapien efficitur, dapibus ipsum eu, semper ex. Praesent auctor imperdiet lorem non tincidunt. Praesent laoreet sollicitudin tortor, non interdum ligula facilisis eu. Suspendisse sodales quam eget lacus aliquet, molestie rhoncus odio malesuada. Nulla eget eros tempus, condimentum purus eu, porta nisl. Phasellus cursus, purus eu hendrerit eleifend, eros magna hendrerit neque, at feugiat mi massa ut diam. Nam volutpat rutrum nunc ut egestas. Pellentesque odio augue, finibus a risus id, molestie tempus libero. Nam a tellus faucibus, rutrum arcu vel, tempus nisi. Phasellus facilisis tristique pellentesque. Pellentesque a turpis in nunc commodo faucibus.
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
Nam laoreet arcu vel pretium tempus. Praesent sit amet tellus sit amet erat lobortis ullamcorper in vitae odio. Praesent auctor elit non fermentum condimentum. Morbi quis aliquam sem, a lobortis elit. Fusce congue et velit sed vestibulum. Aliquam consectetur magna eu porttitor mattis. Nunc sed arcu ac magna volutpat cursus eu sed libero. Proin in vehicula arcu.

Donec volutpat vitae leo vel ultricies. Proin vel auctor mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus augue lacus, viverra eget justo eget, suscipit blandit nunc. Ut et dictum tellus. Cras vitae dolor ligula. Quisque a elit in neque condimentum commodo. Integer pharetra purus id enim semper condimentum. Cras hendrerit, ipsum at euismod semper, dolor felis interdum sapien, ac egestas lacus ex in lectus. Proin ac velit sit amet arcu rhoncus egestas. Phasellus mollis, erat nec blandit mollis, quam nisi aliquet erat, eu fringilla risus tellus ut erat. Integer nibh risus, interdum eget elit et, fringilla laoreet eros. Praesent pulvinar, nunc eget feugiat facilisis, quam libero imperdiet purus, ac eleifend dolor tortor et nisl. Suspendisse vestibulum massa vitae elit faucibus, vitae egestas purus eleifend. Proin molestie tellus quam, vestibulum hendrerit urna finibus at.
    </a>
    </section>

    <section id="education">
    <h1> Education</h1>
    <a>

    </a>
    </section>

    <section id="skills">
    <h1> Skills</h1>
    <a>

    </a>
    </section>

    <section id="work-exp">
    <h1> Work experience (Projects)</h1>
    <a>

    </a>
    </section>
{% endblock %}

